body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  background-color: #e3f2fd;
  color: #fff;
}

/* CONTAINER */
.container {
  width: 48.75rem;
  border-radius: 1.25rem;
  padding: 2.25rem 2.5rem;
  background-color: #000;
}

/* HEADER */
.header {
  color: #b2b2b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: 1.6rem;
}

.header__column {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header__label {
  font-weight: 500;
  font-size: 1.2rem;
}

.header__volume-slider {
  accent-color: #fff;
}

.header__check-box {
  width: 3.75rem;
  height: 1.875rem;
  appearance: none;
  border: 1px solid #ffffff5e;
  border-radius: 1.875rem;
  background-color: #242424;
  cursor: pointer;

  position: relative;

  transition: background-color 0.2s ease-in-out;
}

.header__check-box:checked {
  background-color: #4b4b4b;
}

.header__check-box::before {
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  background-color: #8c8c8c;
  border-radius: inherit;

  position: absolute;
  top: 50%;
  left: 0.3rem;
  transform: translateY(-50%);
  transition: left 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.header__check-box:checked:before {
  left: 2rem;
  background-color: #fff;
}

/* PIANO */
.piano {
  display: flex;
  margin-top: 2.5rem;
}

.piano__key--white {
  cursor: pointer;
  user-select: none;
  list-style: none;
  color: #a2a2a2;
  position: relative;
  text-transform: uppercase;

  width: 5.625rem;
  height: 14.375rem;
  margin-right: 0.25rem;
  border-radius: 0.5rem;
  background: linear-gradient(to bottom, #fff 96%, #eee 4%);
}

.piano__key--white:active, .piano__key--white.piano__key--active {
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  box-shadow: inset -0.25rem 0.25rem 1.25rem rgba(0, 0, 0, 0.2);
}

.piano__key--black {
  cursor: pointer;
  user-select: none;
  list-style: none;
  color: #a2a2a2;
  position: relative;
  text-transform: uppercase;
  width: 3.75rem;
  height: 8.75rem;
  z-index: 2;
  margin: 0 -1.375rem 0 -1.375rem;
  border-radius: 0 0 0.25rem 0.25rem;
  background: linear-gradient(to bottom, #333, #000);
}

.piano__key--black:active, .piano__key--black.piano__key--active {
  background: linear-gradient(to bottom, #000 0%, #434343 100%);
  box-shadow: inset -0.25rem 0.25rem 0.625rem rgba(255, 255, 255, 0.1);
}

.piano__key-label {
  position: absolute;
  bottom: 1.25rem;
  width: 100%;
  text-align: center;
  font-size: 1.13rem;
}

.hidden span{
  display: none;
}